.container{
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-gap: 3rem;
}
.card img{
    width: 100%;
    border-radius: 2rem;
}

.card h4{
    font-size: larger;
    text-align: center;
    padding: .2rem;
    color: black;
}